*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --primary-color: #4f46e5;
    --secondary-color: #7c3aed;
    --escuro: #0f172a;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(
        135deg,
        #0f172a 0%,
        #1e1b4b 40%,
        #312e81 70%,
        #4c1d95 100%
    );
    color: white;
}


.navegacao {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    backdrop-filter: blur(10px);
    background: linear-gradient(
        90deg,
        #1e1b4b 40%),
        #312e81 70%,
        #4c1d95 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s ease;
}

nav a:hover {
    color: #c4b5fd;
}


.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.menu-link{
    color: var(--claro);
    text-decoration: none;
    margin: 0 1rem;
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    transition: width 0.5s ease;
}

.menu-link:hover::after{
    width: 100%;
}

.cabecalho{
    min-height: 65vh;
    padding-top: 100px; 
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.foto-perfil{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    box-shadow: 0 0 40px rgba(124, 58, 237, 0.6);
    animation: flutuar 3s ease-in-out infinite;
}
.h1{
    font-size: 3.5rem;
    margin: 20px;
    color: var(--primary-color);
}

.cabecalho-sub-titulo{
    font-size: 1.5rem;
    color: var(--claro);
}

.sobre{
    padding: 4rem 2rem;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.sobre-titulo{
    font-size: 3rem;
    color: var(--claro);
    margin-bottom: 20px;
}

.sobre-caixa{
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo{
   text-align: center;
   font-size: 1.3rem;
   margin: 2px;

}

.tecnologias {
    padding: 100px 10%;
    text-align: center;
}

.titulo-secao {
    font-size: 36px;
    margin-bottom: 60px;
}

.tech-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.tech-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 40px 20px;
    border-radius: 18px;
    transition: 0.3s;
}

.tech-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.tech-card h3 {
    margin-bottom: 25px;
    font-size: 20px;
}

.tech-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.tech-icons img {
    width: 55px;
    transition: 0.3s;
}

.tech-icons img:hover {
    transform: scale(1.2);
}


.projetos{
    padding: 6rem 2rem;
}

.projeto-caixa{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px; 
    margin: 0 auto; 
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05); /* leve contraste */
    border-radius: 16px;
    overflow: hidden; /* MUITO IMPORTANTE para a imagem respeitar a borda */
    padding-bottom: 20px;
    text-decoration: none;
    color: inherit;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.projetos-titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(124, 58, 237, 0.6);
}

.projeto-imagem {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
}


.caixa-textos-projeto{
    padding: 1.5rem;
}

.paragrafos-projetos{
    color: rgba(226, 232, 240, 0.8);
}

.info-projeto{
    margin-bottom: 5px;
}

.tech-stack {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.tech-stack img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

.tech-stack img:hover {
    transform: scale(1.15);
}

.redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 30px;
}

.redes-sociais a {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 14px;
    transition: 0.3s;
}

.redes-sociais svg {
    width: 72px;
    height: 72px;
    fill: white;
}

.redes-sociais a:hover {
    transform: translateY(-6px);
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
}


.contato-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.contato-item {
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgba(255, 255, 255, 0.05);
    padding: 15px 30px;
    border-radius: 15px;
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

.contato-item img {
    width: 35px;
}

.contato-item:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}

.contato{
    padding: 6rem 2rem;
}

.contatos-titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato{
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
}

.campo-form{
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--vidro);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--claro);
    outline: none;
}

.campo-form:focus{
    border-color: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

input::placeholder,
textarea::placeholder {
    color: white;
}


.grupo-form{
    margin-bottom: 1.5rem;
}

.botao-form{
    width: 100%;
    padding: 1rem;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.botao-form:hover{
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 299, 0.4);
}

.particulas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
    radial-gradient(circle at 10% 20%, var(--primary-color) 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, var(--secondary-color) 0%, transparent 20%),
    var(--escuro);
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}